@using System.Web.Mvc.Html
@using MVC.Helpers
@model MVC.ViewModels.Pagging.BetPageViewModel

<div class="table">
    <table class="table table-hover">

        <tr>
            <th>@Html.Label("Time")</th>
            <th>@Html.Label("User")</th>
        </tr>
        @foreach (var item in Model.Bets)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Time)</td>
                <td>@Html.DisplayFor(x => item.UserName)</td>
            </tr>
        }
    </table>
</div>

<div class="text-center">
    @Ajax.Page(@Model.PageInfo, "bets", x => Url.Action("ShowLotsBetHistory",
    new
    {
        lotId = @Model.LotId,
        page = x
    }))
</div>